USE [master]
GO
/****** Object:  Database [MusicPlayer]    Script Date: 9/8/2026 5:39:14 PM ******/
CREATE DATABASE [MusicPlayer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicPlayer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\MusicPlayer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicPlayer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\MusicPlayer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicPlayer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicPlayer]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 9/8/2026 5:39:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[idArtist] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[nationality] [varchar](100) NULL,
	[birthdate] [date] NULL,
	[style] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idArtist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connections]    Script Date: 9/8/2026 5:39:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connections](
	[idConnection] [int] IDENTITY(1,1) NOT NULL,
	[idSong] [int] NOT NULL,
	[idPlaylist] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idConnection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 9/8/2026 5:39:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[idPlaylist] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](500) NULL,
	[idUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPlaylist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 9/8/2026 5:39:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[idSong] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[duration] [time](7) NULL,
	[releaseDate] [date] NULL,
	[genre] [varchar](100) NULL,
	[studio] [varchar](100) NULL,
	[info] [varchar](500) NULL,
	[path] [varchar](500) NULL,
	[idArtist] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/8/2026 5:39:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[password] [varchar](100) NULL,
	[mail] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD FOREIGN KEY([idPlaylist])
REFERENCES [dbo].[Playlists] ([idPlaylist])
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD FOREIGN KEY([idSong])
REFERENCES [dbo].[Songs] ([idSong])
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD FOREIGN KEY([idArtist])
REFERENCES [dbo].[Artists] ([idArtist])
GO
USE [master]
GO
